html {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.overskrift {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}
section {
    display: flex;
    width: 40vw;
    height: 10vh;
}
section .overskrift {
    background-color: aqua;
    align-items: center;

}
article {
}
.top {
}
.tabell {
    background-color: blueviolet;
}
table {
    display: flex;
    width: 40vw;
}
.bilde {
}
th {
    border: 1px solid black;
}