#gameBoard{
    position: absolute;
    border: 1px solid black;
}
.playerC{
    background-color: blue;
}
.targetS {
    position: absolute;
    background-color: aqua;
    width: 80px;
    height: 20px;
}
.ballS {
    border-radius: 50%;
    background-color: red;
    position: absolute;
}
